    /*
    Flaticon icon font: Flaticon
    Creation date: 22/06/2016 15:46
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-ai:before { content: "\f100"; }
.flaticon-ai-1:before { content: "\f101"; }
.flaticon-alarm-clock:before { content: "\f102"; }
.flaticon-alarm-clock-1:before { content: "\f103"; }
.flaticon-arrow:before { content: "\f104"; }
.flaticon-attach:before { content: "\f105"; }
.flaticon-bandage:before { content: "\f106"; }
.flaticon-battery:before { content: "\f107"; }
.flaticon-bell:before { content: "\f108"; }
.flaticon-billboard:before { content: "\f109"; }
.flaticon-birdhouse:before { content: "\f10a"; }
.flaticon-birdhouse-1:before { content: "\f10b"; }
.flaticon-birdhouse-2:before { content: "\f10c"; }
.flaticon-bluetooth:before { content: "\f10d"; }
.flaticon-bookmark:before { content: "\f10e"; }
.flaticon-bottle:before { content: "\f10f"; }
.flaticon-bracelet:before { content: "\f110"; }
.flaticon-briefcase:before { content: "\f111"; }
.flaticon-briefcase-1:before { content: "\f112"; }
.flaticon-briefcase-2:before { content: "\f113"; }
.flaticon-brightness:before { content: "\f114"; }
.flaticon-browser:before { content: "\f115"; }
.flaticon-browser-1:before { content: "\f116"; }
.flaticon-browser-10:before { content: "\f117"; }
.flaticon-browser-11:before { content: "\f118"; }
.flaticon-browser-12:before { content: "\f119"; }
.flaticon-browser-13:before { content: "\f11a"; }
.flaticon-browser-14:before { content: "\f11b"; }
.flaticon-browser-15:before { content: "\f11c"; }
.flaticon-browser-16:before { content: "\f11d"; }
.flaticon-browser-17:before { content: "\f11e"; }
.flaticon-browser-2:before { content: "\f11f"; }
.flaticon-browser-3:before { content: "\f120"; }
.flaticon-browser-4:before { content: "\f121"; }
.flaticon-browser-5:before { content: "\f122"; }
.flaticon-browser-6:before { content: "\f123"; }
.flaticon-browser-7:before { content: "\f124"; }
.flaticon-browser-8:before { content: "\f125"; }
.flaticon-browser-9:before { content: "\f126"; }
.flaticon-bucket:before { content: "\f127"; }
.flaticon-button:before { content: "\f128"; }
.flaticon-calendar:before { content: "\f129"; }
.flaticon-calendar-1:before { content: "\f12a"; }
.flaticon-calendar-2:before { content: "\f12b"; }
.flaticon-cancel:before { content: "\f12c"; }
.flaticon-cells:before { content: "\f12d"; }
.flaticon-checked:before { content: "\f12e"; }
.flaticon-checked-1:before { content: "\f12f"; }
.flaticon-chip:before { content: "\f130"; }
.flaticon-clock:before { content: "\f131"; }
.flaticon-cloud-computing:before { content: "\f132"; }
.flaticon-cloud-computing-1:before { content: "\f133"; }
.flaticon-coding:before { content: "\f134"; }
.flaticon-coding-1:before { content: "\f135"; }
.flaticon-compass:before { content: "\f136"; }
.flaticon-computer:before { content: "\f137"; }
.flaticon-computer-1:before { content: "\f138"; }
.flaticon-computer-2:before { content: "\f139"; }
.flaticon-computer-3:before { content: "\f13a"; }
.flaticon-connection:before { content: "\f13b"; }
.flaticon-contrast:before { content: "\f13c"; }
.flaticon-contrast-1:before { content: "\f13d"; }
.flaticon-contrast-2:before { content: "\f13e"; }
.flaticon-contrast-3:before { content: "\f13f"; }
.flaticon-copy:before { content: "\f140"; }
.flaticon-credit-card:before { content: "\f141"; }
.flaticon-crop:before { content: "\f142"; }
.flaticon-crown:before { content: "\f143"; }
.flaticon-crown-1:before { content: "\f144"; }
.flaticon-crown-2:before { content: "\f145"; }
.flaticon-crown-3:before { content: "\f146"; }
.flaticon-css:before { content: "\f147"; }
.flaticon-cuckoo-clock:before { content: "\f148"; }
.flaticon-cursor:before { content: "\f149"; }
.flaticon-cutter:before { content: "\f14a"; }
.flaticon-cutter-1:before { content: "\f14b"; }
.flaticon-database:before { content: "\f14c"; }
.flaticon-diagonal-arrow:before { content: "\f14d"; }
.flaticon-diagonal-arrow-1:before { content: "\f14e"; }
.flaticon-dice:before { content: "\f14f"; }
.flaticon-double-arrow:before { content: "\f150"; }
.flaticon-double-arrow-1:before { content: "\f151"; }
.flaticon-download:before { content: "\f152"; }
.flaticon-download-1:before { content: "\f153"; }
.flaticon-download-2:before { content: "\f154"; }
.flaticon-drop:before { content: "\f155"; }
.flaticon-edit:before { content: "\f156"; }
.flaticon-edit-1:before { content: "\f157"; }
.flaticon-edit-2:before { content: "\f158"; }
.flaticon-email:before { content: "\f159"; }
.flaticon-envelope:before { content: "\f15a"; }
.flaticon-exchange:before { content: "\f15b"; }
.flaticon-exchange-1:before { content: "\f15c"; }
.flaticon-expand:before { content: "\f15d"; }
.flaticon-expand-1:before { content: "\f15e"; }
.flaticon-expand-2:before { content: "\f15f"; }
.flaticon-expand-3:before { content: "\f160"; }
.flaticon-eye:before { content: "\f161"; }
.flaticon-file:before { content: "\f162"; }
.flaticon-file-1:before { content: "\f163"; }
.flaticon-file-2:before { content: "\f164"; }
.flaticon-file-3:before { content: "\f165"; }
.flaticon-file-4:before { content: "\f166"; }
.flaticon-file-5:before { content: "\f167"; }
.flaticon-file-6:before { content: "\f168"; }
.flaticon-flower:before { content: "\f169"; }
.flaticon-flower-1:before { content: "\f16a"; }
.flaticon-flower-2:before { content: "\f16b"; }
.flaticon-flower-3:before { content: "\f16c"; }
.flaticon-flower-4:before { content: "\f16d"; }
.flaticon-flower-5:before { content: "\f16e"; }
.flaticon-flower-6:before { content: "\f16f"; }
.flaticon-focus:before { content: "\f170"; }
.flaticon-focus-1:before { content: "\f171"; }
.flaticon-focus-10:before { content: "\f172"; }
.flaticon-focus-11:before { content: "\f173"; }
.flaticon-focus-12:before { content: "\f174"; }
.flaticon-focus-13:before { content: "\f175"; }
.flaticon-focus-14:before { content: "\f176"; }
.flaticon-focus-15:before { content: "\f177"; }
.flaticon-focus-16:before { content: "\f178"; }
.flaticon-focus-17:before { content: "\f179"; }
.flaticon-focus-18:before { content: "\f17a"; }
.flaticon-focus-19:before { content: "\f17b"; }
.flaticon-focus-2:before { content: "\f17c"; }
.flaticon-focus-20:before { content: "\f17d"; }
.flaticon-focus-21:before { content: "\f17e"; }
.flaticon-focus-22:before { content: "\f17f"; }
.flaticon-focus-23:before { content: "\f180"; }
.flaticon-focus-24:before { content: "\f181"; }
.flaticon-focus-25:before { content: "\f182"; }
.flaticon-focus-26:before { content: "\f183"; }
.flaticon-focus-27:before { content: "\f184"; }
.flaticon-focus-28:before { content: "\f185"; }
.flaticon-focus-29:before { content: "\f186"; }
.flaticon-focus-3:before { content: "\f187"; }
.flaticon-focus-30:before { content: "\f188"; }
.flaticon-focus-31:before { content: "\f189"; }
.flaticon-focus-4:before { content: "\f18a"; }
.flaticon-focus-5:before { content: "\f18b"; }
.flaticon-focus-6:before { content: "\f18c"; }
.flaticon-focus-7:before { content: "\f18d"; }
.flaticon-focus-8:before { content: "\f18e"; }
.flaticon-focus-9:before { content: "\f18f"; }
.flaticon-folder:before { content: "\f190"; }
.flaticon-folder-1:before { content: "\f191"; }
.flaticon-forbidden:before { content: "\f192"; }
.flaticon-fountain-pen:before { content: "\f193"; }
.flaticon-fountain-pen-1:before { content: "\f194"; }
.flaticon-fountain-pen-2:before { content: "\f195"; }
.flaticon-full-screen:before { content: "\f196"; }
.flaticon-full-screen-1:before { content: "\f197"; }
.flaticon-gift:before { content: "\f198"; }
.flaticon-glasses:before { content: "\f199"; }
.flaticon-google:before { content: "\f19a"; }
.flaticon-happy:before { content: "\f19b"; }
.flaticon-headphones:before { content: "\f19c"; }
.flaticon-hourglass:before { content: "\f19d"; }
.flaticon-house:before { content: "\f19e"; }
.flaticon-html:before { content: "\f19f"; }
.flaticon-id-card:before { content: "\f1a0"; }
.flaticon-insert:before { content: "\f1a1"; }
.flaticon-invoice:before { content: "\f1a2"; }
.flaticon-js:before { content: "\f1a3"; }
.flaticon-key:before { content: "\f1a4"; }
.flaticon-key-1:before { content: "\f1a5"; }
.flaticon-keyboard:before { content: "\f1a6"; }
.flaticon-lamp:before { content: "\f1a7"; }
.flaticon-laptop:before { content: "\f1a8"; }
.flaticon-laptop-1:before { content: "\f1a9"; }
.flaticon-laptop-2:before { content: "\f1aa"; }
.flaticon-left-alignment:before { content: "\f1ab"; }
.flaticon-letters:before { content: "\f1ac"; }
.flaticon-levels:before { content: "\f1ad"; }
.flaticon-light-bulb:before { content: "\f1ae"; }
.flaticon-line-chart:before { content: "\f1af"; }
.flaticon-line-chart-1:before { content: "\f1b0"; }
.flaticon-link:before { content: "\f1b1"; }
.flaticon-list:before { content: "\f1b2"; }
.flaticon-list-1:before { content: "\f1b3"; }
.flaticon-list-2:before { content: "\f1b4"; }
.flaticon-list-3:before { content: "\f1b5"; }
.flaticon-lotus:before { content: "\f1b6"; }
.flaticon-magic-wand:before { content: "\f1b7"; }
.flaticon-magic-wand-1:before { content: "\f1b8"; }
.flaticon-makeup:before { content: "\f1b9"; }
.flaticon-map:before { content: "\f1ba"; }
.flaticon-memory-card:before { content: "\f1bb"; }
.flaticon-memory-card-1:before { content: "\f1bc"; }
.flaticon-memory-card-2:before { content: "\f1bd"; }
.flaticon-menu:before { content: "\f1be"; }
.flaticon-menu-1:before { content: "\f1bf"; }
.flaticon-menu-2:before { content: "\f1c0"; }
.flaticon-menu-3:before { content: "\f1c1"; }
.flaticon-microchip:before { content: "\f1c2"; }
.flaticon-microphone:before { content: "\f1c3"; }
.flaticon-microphone-1:before { content: "\f1c4"; }
.flaticon-minimize:before { content: "\f1c5"; }
.flaticon-minimize-1:before { content: "\f1c6"; }
.flaticon-minimize-2:before { content: "\f1c7"; }
.flaticon-minimize-3:before { content: "\f1c8"; }
.flaticon-mobile-phone:before { content: "\f1c9"; }
.flaticon-monitor:before { content: "\f1ca"; }
.flaticon-monitor-1:before { content: "\f1cb"; }
.flaticon-mouse:before { content: "\f1cc"; }
.flaticon-mouse-1:before { content: "\f1cd"; }
.flaticon-move:before { content: "\f1ce"; }
.flaticon-move-1:before { content: "\f1cf"; }
.flaticon-movie-player:before { content: "\f1d0"; }
.flaticon-necklace:before { content: "\f1d1"; }
.flaticon-notepad:before { content: "\f1d2"; }
.flaticon-package:before { content: "\f1d3"; }
.flaticon-padlock:before { content: "\f1d4"; }
.flaticon-padlock-1:before { content: "\f1d5"; }
.flaticon-paint-brush:before { content: "\f1d6"; }
.flaticon-paint-brush-1:before { content: "\f1d7"; }
.flaticon-paint-bucket:before { content: "\f1d8"; }
.flaticon-paint-palette:before { content: "\f1d9"; }
.flaticon-paint-roller:before { content: "\f1da"; }
.flaticon-pause:before { content: "\f1db"; }
.flaticon-pause-1:before { content: "\f1dc"; }
.flaticon-pendrive:before { content: "\f1dd"; }
.flaticon-photo-camera:before { content: "\f1de"; }
.flaticon-php:before { content: "\f1df"; }
.flaticon-picture:before { content: "\f1e0"; }
.flaticon-pie-chart:before { content: "\f1e1"; }
.flaticon-pie-chart-1:before { content: "\f1e2"; }
.flaticon-placeholder:before { content: "\f1e3"; }
.flaticon-placeholder-1:before { content: "\f1e4"; }
.flaticon-placeholder-2:before { content: "\f1e5"; }
.flaticon-play-button:before { content: "\f1e6"; }
.flaticon-power-button:before { content: "\f1e7"; }
.flaticon-ps:before { content: "\f1e8"; }
.flaticon-push-pin:before { content: "\f1e9"; }
.flaticon-radio:before { content: "\f1ea"; }
.flaticon-refresh:before { content: "\f1eb"; }
.flaticon-reload:before { content: "\f1ec"; }
.flaticon-reload-1:before { content: "\f1ed"; }
.flaticon-repeat:before { content: "\f1ee"; }
.flaticon-repeat-1:before { content: "\f1ef"; }
.flaticon-resize:before { content: "\f1f0"; }
.flaticon-resize-1:before { content: "\f1f1"; }
.flaticon-resize-2:before { content: "\f1f2"; }
.flaticon-return:before { content: "\f1f3"; }
.flaticon-robot:before { content: "\f1f4"; }
.flaticon-router:before { content: "\f1f5"; }
.flaticon-rss:before { content: "\f1f6"; }
.flaticon-ruler:before { content: "\f1f7"; }
.flaticon-ruler-1:before { content: "\f1f8"; }
.flaticon-ruler-2:before { content: "\f1f9"; }
.flaticon-ruler-3:before { content: "\f1fa"; }
.flaticon-ruler-4:before { content: "\f1fb"; }
.flaticon-scheme:before { content: "\f1fc"; }
.flaticon-scheme-1:before { content: "\f1fd"; }
.flaticon-scissors:before { content: "\f1fe"; }
.flaticon-scissors-1:before { content: "\f1ff"; }
.flaticon-screen:before { content: "\f200"; }
.flaticon-scroll:before { content: "\f201"; }
.flaticon-scroll-1:before { content: "\f202"; }
.flaticon-scroll-2:before { content: "\f203"; }
.flaticon-scroll-3:before { content: "\f204"; }
.flaticon-scroll-4:before { content: "\f205"; }
.flaticon-scroll-5:before { content: "\f206"; }
.flaticon-search:before { content: "\f207"; }
.flaticon-search-1:before { content: "\f208"; }
.flaticon-server:before { content: "\f209"; }
.flaticon-set-square:before { content: "\f20a"; }
.flaticon-settings:before { content: "\f20b"; }
.flaticon-settings-1:before { content: "\f20c"; }
.flaticon-settings-2:before { content: "\f20d"; }
.flaticon-share:before { content: "\f20e"; }
.flaticon-share-1:before { content: "\f20f"; }
.flaticon-share-2:before { content: "\f210"; }
.flaticon-shield:before { content: "\f211"; }
.flaticon-shield-1:before { content: "\f212"; }
.flaticon-shopping-bag:before { content: "\f213"; }
.flaticon-shopping-cart:before { content: "\f214"; }
.flaticon-smartphone:before { content: "\f215"; }
.flaticon-smartphone-1:before { content: "\f216"; }
.flaticon-smartphone-2:before { content: "\f217"; }
.flaticon-smartphone-3:before { content: "\f218"; }
.flaticon-smartphone-4:before { content: "\f219"; }
.flaticon-smartphone-5:before { content: "\f21a"; }
.flaticon-smartphone-6:before { content: "\f21b"; }
.flaticon-smartphone-7:before { content: "\f21c"; }
.flaticon-smile:before { content: "\f21d"; }
.flaticon-socket:before { content: "\f21e"; }
.flaticon-sort:before { content: "\f21f"; }
.flaticon-speaker:before { content: "\f220"; }
.flaticon-speaker-1:before { content: "\f221"; }
.flaticon-speech-bubble:before { content: "\f222"; }
.flaticon-speech-bubble-1:before { content: "\f223"; }
.flaticon-speech-bubble-2:before { content: "\f224"; }
.flaticon-sun:before { content: "\f225"; }
.flaticon-symbol:before { content: "\f226"; }
.flaticon-symbol-1:before { content: "\f227"; }
.flaticon-symbol-2:before { content: "\f228"; }
.flaticon-target:before { content: "\f229"; }
.flaticon-target-1:before { content: "\f22a"; }
.flaticon-telephone:before { content: "\f22b"; }
.flaticon-telephone-1:before { content: "\f22c"; }
.flaticon-telephone-2:before { content: "\f22d"; }
.flaticon-television:before { content: "\f22e"; }
.flaticon-traffic-light:before { content: "\f22f"; }
.flaticon-upload:before { content: "\f230"; }
.flaticon-user:before { content: "\f231"; }
.flaticon-vector:before { content: "\f232"; }
.flaticon-vector-1:before { content: "\f233"; }
.flaticon-vector-2:before { content: "\f234"; }
.flaticon-video-camera:before { content: "\f235"; }
.flaticon-video-player:before { content: "\f236"; }
.flaticon-warning:before { content: "\f237"; }
.flaticon-worldwide:before { content: "\f238"; }
.flaticon-wrench:before { content: "\f239"; }
.flaticon-wristwatch:before { content: "\f23a"; }
.flaticon-wristwatch-1:before { content: "\f23b"; }
.flaticon-write:before { content: "\f23c"; }
.flaticon-zoom-out:before { content: "\f23d"; }
    
    $font-Flaticon-ai: "\f100";
    $font-Flaticon-ai-1: "\f101";
    $font-Flaticon-alarm-clock: "\f102";
    $font-Flaticon-alarm-clock-1: "\f103";
    $font-Flaticon-arrow: "\f104";
    $font-Flaticon-attach: "\f105";
    $font-Flaticon-bandage: "\f106";
    $font-Flaticon-battery: "\f107";
    $font-Flaticon-bell: "\f108";
    $font-Flaticon-billboard: "\f109";
    $font-Flaticon-birdhouse: "\f10a";
    $font-Flaticon-birdhouse-1: "\f10b";
    $font-Flaticon-birdhouse-2: "\f10c";
    $font-Flaticon-bluetooth: "\f10d";
    $font-Flaticon-bookmark: "\f10e";
    $font-Flaticon-bottle: "\f10f";
    $font-Flaticon-bracelet: "\f110";
    $font-Flaticon-briefcase: "\f111";
    $font-Flaticon-briefcase-1: "\f112";
    $font-Flaticon-briefcase-2: "\f113";
    $font-Flaticon-brightness: "\f114";
    $font-Flaticon-browser: "\f115";
    $font-Flaticon-browser-1: "\f116";
    $font-Flaticon-browser-10: "\f117";
    $font-Flaticon-browser-11: "\f118";
    $font-Flaticon-browser-12: "\f119";
    $font-Flaticon-browser-13: "\f11a";
    $font-Flaticon-browser-14: "\f11b";
    $font-Flaticon-browser-15: "\f11c";
    $font-Flaticon-browser-16: "\f11d";
    $font-Flaticon-browser-17: "\f11e";
    $font-Flaticon-browser-2: "\f11f";
    $font-Flaticon-browser-3: "\f120";
    $font-Flaticon-browser-4: "\f121";
    $font-Flaticon-browser-5: "\f122";
    $font-Flaticon-browser-6: "\f123";
    $font-Flaticon-browser-7: "\f124";
    $font-Flaticon-browser-8: "\f125";
    $font-Flaticon-browser-9: "\f126";
    $font-Flaticon-bucket: "\f127";
    $font-Flaticon-button: "\f128";
    $font-Flaticon-calendar: "\f129";
    $font-Flaticon-calendar-1: "\f12a";
    $font-Flaticon-calendar-2: "\f12b";
    $font-Flaticon-cancel: "\f12c";
    $font-Flaticon-cells: "\f12d";
    $font-Flaticon-checked: "\f12e";
    $font-Flaticon-checked-1: "\f12f";
    $font-Flaticon-chip: "\f130";
    $font-Flaticon-clock: "\f131";
    $font-Flaticon-cloud-computing: "\f132";
    $font-Flaticon-cloud-computing-1: "\f133";
    $font-Flaticon-coding: "\f134";
    $font-Flaticon-coding-1: "\f135";
    $font-Flaticon-compass: "\f136";
    $font-Flaticon-computer: "\f137";
    $font-Flaticon-computer-1: "\f138";
    $font-Flaticon-computer-2: "\f139";
    $font-Flaticon-computer-3: "\f13a";
    $font-Flaticon-connection: "\f13b";
    $font-Flaticon-contrast: "\f13c";
    $font-Flaticon-contrast-1: "\f13d";
    $font-Flaticon-contrast-2: "\f13e";
    $font-Flaticon-contrast-3: "\f13f";
    $font-Flaticon-copy: "\f140";
    $font-Flaticon-credit-card: "\f141";
    $font-Flaticon-crop: "\f142";
    $font-Flaticon-crown: "\f143";
    $font-Flaticon-crown-1: "\f144";
    $font-Flaticon-crown-2: "\f145";
    $font-Flaticon-crown-3: "\f146";
    $font-Flaticon-css: "\f147";
    $font-Flaticon-cuckoo-clock: "\f148";
    $font-Flaticon-cursor: "\f149";
    $font-Flaticon-cutter: "\f14a";
    $font-Flaticon-cutter-1: "\f14b";
    $font-Flaticon-database: "\f14c";
    $font-Flaticon-diagonal-arrow: "\f14d";
    $font-Flaticon-diagonal-arrow-1: "\f14e";
    $font-Flaticon-dice: "\f14f";
    $font-Flaticon-double-arrow: "\f150";
    $font-Flaticon-double-arrow-1: "\f151";
    $font-Flaticon-download: "\f152";
    $font-Flaticon-download-1: "\f153";
    $font-Flaticon-download-2: "\f154";
    $font-Flaticon-drop: "\f155";
    $font-Flaticon-edit: "\f156";
    $font-Flaticon-edit-1: "\f157";
    $font-Flaticon-edit-2: "\f158";
    $font-Flaticon-email: "\f159";
    $font-Flaticon-envelope: "\f15a";
    $font-Flaticon-exchange: "\f15b";
    $font-Flaticon-exchange-1: "\f15c";
    $font-Flaticon-expand: "\f15d";
    $font-Flaticon-expand-1: "\f15e";
    $font-Flaticon-expand-2: "\f15f";
    $font-Flaticon-expand-3: "\f160";
    $font-Flaticon-eye: "\f161";
    $font-Flaticon-file: "\f162";
    $font-Flaticon-file-1: "\f163";
    $font-Flaticon-file-2: "\f164";
    $font-Flaticon-file-3: "\f165";
    $font-Flaticon-file-4: "\f166";
    $font-Flaticon-file-5: "\f167";
    $font-Flaticon-file-6: "\f168";
    $font-Flaticon-flower: "\f169";
    $font-Flaticon-flower-1: "\f16a";
    $font-Flaticon-flower-2: "\f16b";
    $font-Flaticon-flower-3: "\f16c";
    $font-Flaticon-flower-4: "\f16d";
    $font-Flaticon-flower-5: "\f16e";
    $font-Flaticon-flower-6: "\f16f";
    $font-Flaticon-focus: "\f170";
    $font-Flaticon-focus-1: "\f171";
    $font-Flaticon-focus-10: "\f172";
    $font-Flaticon-focus-11: "\f173";
    $font-Flaticon-focus-12: "\f174";
    $font-Flaticon-focus-13: "\f175";
    $font-Flaticon-focus-14: "\f176";
    $font-Flaticon-focus-15: "\f177";
    $font-Flaticon-focus-16: "\f178";
    $font-Flaticon-focus-17: "\f179";
    $font-Flaticon-focus-18: "\f17a";
    $font-Flaticon-focus-19: "\f17b";
    $font-Flaticon-focus-2: "\f17c";
    $font-Flaticon-focus-20: "\f17d";
    $font-Flaticon-focus-21: "\f17e";
    $font-Flaticon-focus-22: "\f17f";
    $font-Flaticon-focus-23: "\f180";
    $font-Flaticon-focus-24: "\f181";
    $font-Flaticon-focus-25: "\f182";
    $font-Flaticon-focus-26: "\f183";
    $font-Flaticon-focus-27: "\f184";
    $font-Flaticon-focus-28: "\f185";
    $font-Flaticon-focus-29: "\f186";
    $font-Flaticon-focus-3: "\f187";
    $font-Flaticon-focus-30: "\f188";
    $font-Flaticon-focus-31: "\f189";
    $font-Flaticon-focus-4: "\f18a";
    $font-Flaticon-focus-5: "\f18b";
    $font-Flaticon-focus-6: "\f18c";
    $font-Flaticon-focus-7: "\f18d";
    $font-Flaticon-focus-8: "\f18e";
    $font-Flaticon-focus-9: "\f18f";
    $font-Flaticon-folder: "\f190";
    $font-Flaticon-folder-1: "\f191";
    $font-Flaticon-forbidden: "\f192";
    $font-Flaticon-fountain-pen: "\f193";
    $font-Flaticon-fountain-pen-1: "\f194";
    $font-Flaticon-fountain-pen-2: "\f195";
    $font-Flaticon-full-screen: "\f196";
    $font-Flaticon-full-screen-1: "\f197";
    $font-Flaticon-gift: "\f198";
    $font-Flaticon-glasses: "\f199";
    $font-Flaticon-google: "\f19a";
    $font-Flaticon-happy: "\f19b";
    $font-Flaticon-headphones: "\f19c";
    $font-Flaticon-hourglass: "\f19d";
    $font-Flaticon-house: "\f19e";
    $font-Flaticon-html: "\f19f";
    $font-Flaticon-id-card: "\f1a0";
    $font-Flaticon-insert: "\f1a1";
    $font-Flaticon-invoice: "\f1a2";
    $font-Flaticon-js: "\f1a3";
    $font-Flaticon-key: "\f1a4";
    $font-Flaticon-key-1: "\f1a5";
    $font-Flaticon-keyboard: "\f1a6";
    $font-Flaticon-lamp: "\f1a7";
    $font-Flaticon-laptop: "\f1a8";
    $font-Flaticon-laptop-1: "\f1a9";
    $font-Flaticon-laptop-2: "\f1aa";
    $font-Flaticon-left-alignment: "\f1ab";
    $font-Flaticon-letters: "\f1ac";
    $font-Flaticon-levels: "\f1ad";
    $font-Flaticon-light-bulb: "\f1ae";
    $font-Flaticon-line-chart: "\f1af";
    $font-Flaticon-line-chart-1: "\f1b0";
    $font-Flaticon-link: "\f1b1";
    $font-Flaticon-list: "\f1b2";
    $font-Flaticon-list-1: "\f1b3";
    $font-Flaticon-list-2: "\f1b4";
    $font-Flaticon-list-3: "\f1b5";
    $font-Flaticon-lotus: "\f1b6";
    $font-Flaticon-magic-wand: "\f1b7";
    $font-Flaticon-magic-wand-1: "\f1b8";
    $font-Flaticon-makeup: "\f1b9";
    $font-Flaticon-map: "\f1ba";
    $font-Flaticon-memory-card: "\f1bb";
    $font-Flaticon-memory-card-1: "\f1bc";
    $font-Flaticon-memory-card-2: "\f1bd";
    $font-Flaticon-menu: "\f1be";
    $font-Flaticon-menu-1: "\f1bf";
    $font-Flaticon-menu-2: "\f1c0";
    $font-Flaticon-menu-3: "\f1c1";
    $font-Flaticon-microchip: "\f1c2";
    $font-Flaticon-microphone: "\f1c3";
    $font-Flaticon-microphone-1: "\f1c4";
    $font-Flaticon-minimize: "\f1c5";
    $font-Flaticon-minimize-1: "\f1c6";
    $font-Flaticon-minimize-2: "\f1c7";
    $font-Flaticon-minimize-3: "\f1c8";
    $font-Flaticon-mobile-phone: "\f1c9";
    $font-Flaticon-monitor: "\f1ca";
    $font-Flaticon-monitor-1: "\f1cb";
    $font-Flaticon-mouse: "\f1cc";
    $font-Flaticon-mouse-1: "\f1cd";
    $font-Flaticon-move: "\f1ce";
    $font-Flaticon-move-1: "\f1cf";
    $font-Flaticon-movie-player: "\f1d0";
    $font-Flaticon-necklace: "\f1d1";
    $font-Flaticon-notepad: "\f1d2";
    $font-Flaticon-package: "\f1d3";
    $font-Flaticon-padlock: "\f1d4";
    $font-Flaticon-padlock-1: "\f1d5";
    $font-Flaticon-paint-brush: "\f1d6";
    $font-Flaticon-paint-brush-1: "\f1d7";
    $font-Flaticon-paint-bucket: "\f1d8";
    $font-Flaticon-paint-palette: "\f1d9";
    $font-Flaticon-paint-roller: "\f1da";
    $font-Flaticon-pause: "\f1db";
    $font-Flaticon-pause-1: "\f1dc";
    $font-Flaticon-pendrive: "\f1dd";
    $font-Flaticon-photo-camera: "\f1de";
    $font-Flaticon-php: "\f1df";
    $font-Flaticon-picture: "\f1e0";
    $font-Flaticon-pie-chart: "\f1e1";
    $font-Flaticon-pie-chart-1: "\f1e2";
    $font-Flaticon-placeholder: "\f1e3";
    $font-Flaticon-placeholder-1: "\f1e4";
    $font-Flaticon-placeholder-2: "\f1e5";
    $font-Flaticon-play-button: "\f1e6";
    $font-Flaticon-power-button: "\f1e7";
    $font-Flaticon-ps: "\f1e8";
    $font-Flaticon-push-pin: "\f1e9";
    $font-Flaticon-radio: "\f1ea";
    $font-Flaticon-refresh: "\f1eb";
    $font-Flaticon-reload: "\f1ec";
    $font-Flaticon-reload-1: "\f1ed";
    $font-Flaticon-repeat: "\f1ee";
    $font-Flaticon-repeat-1: "\f1ef";
    $font-Flaticon-resize: "\f1f0";
    $font-Flaticon-resize-1: "\f1f1";
    $font-Flaticon-resize-2: "\f1f2";
    $font-Flaticon-return: "\f1f3";
    $font-Flaticon-robot: "\f1f4";
    $font-Flaticon-router: "\f1f5";
    $font-Flaticon-rss: "\f1f6";
    $font-Flaticon-ruler: "\f1f7";
    $font-Flaticon-ruler-1: "\f1f8";
    $font-Flaticon-ruler-2: "\f1f9";
    $font-Flaticon-ruler-3: "\f1fa";
    $font-Flaticon-ruler-4: "\f1fb";
    $font-Flaticon-scheme: "\f1fc";
    $font-Flaticon-scheme-1: "\f1fd";
    $font-Flaticon-scissors: "\f1fe";
    $font-Flaticon-scissors-1: "\f1ff";
    $font-Flaticon-screen: "\f200";
    $font-Flaticon-scroll: "\f201";
    $font-Flaticon-scroll-1: "\f202";
    $font-Flaticon-scroll-2: "\f203";
    $font-Flaticon-scroll-3: "\f204";
    $font-Flaticon-scroll-4: "\f205";
    $font-Flaticon-scroll-5: "\f206";
    $font-Flaticon-search: "\f207";
    $font-Flaticon-search-1: "\f208";
    $font-Flaticon-server: "\f209";
    $font-Flaticon-set-square: "\f20a";
    $font-Flaticon-settings: "\f20b";
    $font-Flaticon-settings-1: "\f20c";
    $font-Flaticon-settings-2: "\f20d";
    $font-Flaticon-share: "\f20e";
    $font-Flaticon-share-1: "\f20f";
    $font-Flaticon-share-2: "\f210";
    $font-Flaticon-shield: "\f211";
    $font-Flaticon-shield-1: "\f212";
    $font-Flaticon-shopping-bag: "\f213";
    $font-Flaticon-shopping-cart: "\f214";
    $font-Flaticon-smartphone: "\f215";
    $font-Flaticon-smartphone-1: "\f216";
    $font-Flaticon-smartphone-2: "\f217";
    $font-Flaticon-smartphone-3: "\f218";
    $font-Flaticon-smartphone-4: "\f219";
    $font-Flaticon-smartphone-5: "\f21a";
    $font-Flaticon-smartphone-6: "\f21b";
    $font-Flaticon-smartphone-7: "\f21c";
    $font-Flaticon-smile: "\f21d";
    $font-Flaticon-socket: "\f21e";
    $font-Flaticon-sort: "\f21f";
    $font-Flaticon-speaker: "\f220";
    $font-Flaticon-speaker-1: "\f221";
    $font-Flaticon-speech-bubble: "\f222";
    $font-Flaticon-speech-bubble-1: "\f223";
    $font-Flaticon-speech-bubble-2: "\f224";
    $font-Flaticon-sun: "\f225";
    $font-Flaticon-symbol: "\f226";
    $font-Flaticon-symbol-1: "\f227";
    $font-Flaticon-symbol-2: "\f228";
    $font-Flaticon-target: "\f229";
    $font-Flaticon-target-1: "\f22a";
    $font-Flaticon-telephone: "\f22b";
    $font-Flaticon-telephone-1: "\f22c";
    $font-Flaticon-telephone-2: "\f22d";
    $font-Flaticon-television: "\f22e";
    $font-Flaticon-traffic-light: "\f22f";
    $font-Flaticon-upload: "\f230";
    $font-Flaticon-user: "\f231";
    $font-Flaticon-vector: "\f232";
    $font-Flaticon-vector-1: "\f233";
    $font-Flaticon-vector-2: "\f234";
    $font-Flaticon-video-camera: "\f235";
    $font-Flaticon-video-player: "\f236";
    $font-Flaticon-warning: "\f237";
    $font-Flaticon-worldwide: "\f238";
    $font-Flaticon-wrench: "\f239";
    $font-Flaticon-wristwatch: "\f23a";
    $font-Flaticon-wristwatch-1: "\f23b";
    $font-Flaticon-write: "\f23c";
    $font-Flaticon-zoom-out: "\f23d";