	/*
  	Flaticon icon font: Flaticon
  	Creation date: 22/06/2016 15:46
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-ai:before { content: "\f100"; }
.flaticon-ai-1:before { content: "\f101"; }
.flaticon-alarm-clock:before { content: "\f102"; }
.flaticon-alarm-clock-1:before { content: "\f103"; }
.flaticon-arrow:before { content: "\f104"; }
.flaticon-attach:before { content: "\f105"; }
.flaticon-bandage:before { content: "\f106"; }
.flaticon-battery:before { content: "\f107"; }
.flaticon-bell:before { content: "\f108"; }
.flaticon-billboard:before { content: "\f109"; }
.flaticon-birdhouse:before { content: "\f10a"; }
.flaticon-birdhouse-1:before { content: "\f10b"; }
.flaticon-birdhouse-2:before { content: "\f10c"; }
.flaticon-bluetooth:before { content: "\f10d"; }
.flaticon-bookmark:before { content: "\f10e"; }
.flaticon-bottle:before { content: "\f10f"; }
.flaticon-bracelet:before { content: "\f110"; }
.flaticon-briefcase:before { content: "\f111"; }
.flaticon-briefcase-1:before { content: "\f112"; }
.flaticon-briefcase-2:before { content: "\f113"; }
.flaticon-brightness:before { content: "\f114"; }
.flaticon-browser:before { content: "\f115"; }
.flaticon-browser-1:before { content: "\f116"; }
.flaticon-browser-10:before { content: "\f117"; }
.flaticon-browser-11:before { content: "\f118"; }
.flaticon-browser-12:before { content: "\f119"; }
.flaticon-browser-13:before { content: "\f11a"; }
.flaticon-browser-14:before { content: "\f11b"; }
.flaticon-browser-15:before { content: "\f11c"; }
.flaticon-browser-16:before { content: "\f11d"; }
.flaticon-browser-17:before { content: "\f11e"; }
.flaticon-browser-2:before { content: "\f11f"; }
.flaticon-browser-3:before { content: "\f120"; }
.flaticon-browser-4:before { content: "\f121"; }
.flaticon-browser-5:before { content: "\f122"; }
.flaticon-browser-6:before { content: "\f123"; }
.flaticon-browser-7:before { content: "\f124"; }
.flaticon-browser-8:before { content: "\f125"; }
.flaticon-browser-9:before { content: "\f126"; }
.flaticon-bucket:before { content: "\f127"; }
.flaticon-button:before { content: "\f128"; }
.flaticon-calendar:before { content: "\f129"; }
.flaticon-calendar-1:before { content: "\f12a"; }
.flaticon-calendar-2:before { content: "\f12b"; }
.flaticon-cancel:before { content: "\f12c"; }
.flaticon-cells:before { content: "\f12d"; }
.flaticon-checked:before { content: "\f12e"; }
.flaticon-checked-1:before { content: "\f12f"; }
.flaticon-chip:before { content: "\f130"; }
.flaticon-clock:before { content: "\f131"; }
.flaticon-cloud-computing:before { content: "\f132"; }
.flaticon-cloud-computing-1:before { content: "\f133"; }
.flaticon-coding:before { content: "\f134"; }
.flaticon-coding-1:before { content: "\f135"; }
.flaticon-compass:before { content: "\f136"; }
.flaticon-computer:before { content: "\f137"; }
.flaticon-computer-1:before { content: "\f138"; }
.flaticon-computer-2:before { content: "\f139"; }
.flaticon-computer-3:before { content: "\f13a"; }
.flaticon-connection:before { content: "\f13b"; }
.flaticon-contrast:before { content: "\f13c"; }
.flaticon-contrast-1:before { content: "\f13d"; }
.flaticon-contrast-2:before { content: "\f13e"; }
.flaticon-contrast-3:before { content: "\f13f"; }
.flaticon-copy:before { content: "\f140"; }
.flaticon-credit-card:before { content: "\f141"; }
.flaticon-crop:before { content: "\f142"; }
.flaticon-crown:before { content: "\f143"; }
.flaticon-crown-1:before { content: "\f144"; }
.flaticon-crown-2:before { content: "\f145"; }
.flaticon-crown-3:before { content: "\f146"; }
.flaticon-css:before { content: "\f147"; }
.flaticon-cuckoo-clock:before { content: "\f148"; }
.flaticon-cursor:before { content: "\f149"; }
.flaticon-cutter:before { content: "\f14a"; }
.flaticon-cutter-1:before { content: "\f14b"; }
.flaticon-database:before { content: "\f14c"; }
.flaticon-diagonal-arrow:before { content: "\f14d"; }
.flaticon-diagonal-arrow-1:before { content: "\f14e"; }
.flaticon-dice:before { content: "\f14f"; }
.flaticon-double-arrow:before { content: "\f150"; }
.flaticon-double-arrow-1:before { content: "\f151"; }
.flaticon-download:before { content: "\f152"; }
.flaticon-download-1:before { content: "\f153"; }
.flaticon-download-2:before { content: "\f154"; }
.flaticon-drop:before { content: "\f155"; }
.flaticon-edit:before { content: "\f156"; }
.flaticon-edit-1:before { content: "\f157"; }
.flaticon-edit-2:before { content: "\f158"; }
.flaticon-email:before { content: "\f159"; }
.flaticon-envelope:before { content: "\f15a"; }
.flaticon-exchange:before { content: "\f15b"; }
.flaticon-exchange-1:before { content: "\f15c"; }
.flaticon-expand:before { content: "\f15d"; }
.flaticon-expand-1:before { content: "\f15e"; }
.flaticon-expand-2:before { content: "\f15f"; }
.flaticon-expand-3:before { content: "\f160"; }
.flaticon-eye:before { content: "\f161"; }
.flaticon-file:before { content: "\f162"; }
.flaticon-file-1:before { content: "\f163"; }
.flaticon-file-2:before { content: "\f164"; }
.flaticon-file-3:before { content: "\f165"; }
.flaticon-file-4:before { content: "\f166"; }
.flaticon-file-5:before { content: "\f167"; }
.flaticon-file-6:before { content: "\f168"; }
.flaticon-flower:before { content: "\f169"; }
.flaticon-flower-1:before { content: "\f16a"; }
.flaticon-flower-2:before { content: "\f16b"; }
.flaticon-flower-3:before { content: "\f16c"; }
.flaticon-flower-4:before { content: "\f16d"; }
.flaticon-flower-5:before { content: "\f16e"; }
.flaticon-flower-6:before { content: "\f16f"; }
.flaticon-focus:before { content: "\f170"; }
.flaticon-focus-1:before { content: "\f171"; }
.flaticon-focus-10:before { content: "\f172"; }
.flaticon-focus-11:before { content: "\f173"; }
.flaticon-focus-12:before { content: "\f174"; }
.flaticon-focus-13:before { content: "\f175"; }
.flaticon-focus-14:before { content: "\f176"; }
.flaticon-focus-15:before { content: "\f177"; }
.flaticon-focus-16:before { content: "\f178"; }
.flaticon-focus-17:before { content: "\f179"; }
.flaticon-focus-18:before { content: "\f17a"; }
.flaticon-focus-19:before { content: "\f17b"; }
.flaticon-focus-2:before { content: "\f17c"; }
.flaticon-focus-20:before { content: "\f17d"; }
.flaticon-focus-21:before { content: "\f17e"; }
.flaticon-focus-22:before { content: "\f17f"; }
.flaticon-focus-23:before { content: "\f180"; }
.flaticon-focus-24:before { content: "\f181"; }
.flaticon-focus-25:before { content: "\f182"; }
.flaticon-focus-26:before { content: "\f183"; }
.flaticon-focus-27:before { content: "\f184"; }
.flaticon-focus-28:before { content: "\f185"; }
.flaticon-focus-29:before { content: "\f186"; }
.flaticon-focus-3:before { content: "\f187"; }
.flaticon-focus-30:before { content: "\f188"; }
.flaticon-focus-31:before { content: "\f189"; }
.flaticon-focus-4:before { content: "\f18a"; }
.flaticon-focus-5:before { content: "\f18b"; }
.flaticon-focus-6:before { content: "\f18c"; }
.flaticon-focus-7:before { content: "\f18d"; }
.flaticon-focus-8:before { content: "\f18e"; }
.flaticon-focus-9:before { content: "\f18f"; }
.flaticon-folder:before { content: "\f190"; }
.flaticon-folder-1:before { content: "\f191"; }
.flaticon-forbidden:before { content: "\f192"; }
.flaticon-fountain-pen:before { content: "\f193"; }
.flaticon-fountain-pen-1:before { content: "\f194"; }
.flaticon-fountain-pen-2:before { content: "\f195"; }
.flaticon-full-screen:before { content: "\f196"; }
.flaticon-full-screen-1:before { content: "\f197"; }
.flaticon-gift:before { content: "\f198"; }
.flaticon-glasses:before { content: "\f199"; }
.flaticon-google:before { content: "\f19a"; }
.flaticon-happy:before { content: "\f19b"; }
.flaticon-headphones:before { content: "\f19c"; }
.flaticon-hourglass:before { content: "\f19d"; }
.flaticon-house:before { content: "\f19e"; }
.flaticon-html:before { content: "\f19f"; }
.flaticon-id-card:before { content: "\f1a0"; }
.flaticon-insert:before { content: "\f1a1"; }
.flaticon-invoice:before { content: "\f1a2"; }
.flaticon-js:before { content: "\f1a3"; }
.flaticon-key:before { content: "\f1a4"; }
.flaticon-key-1:before { content: "\f1a5"; }
.flaticon-keyboard:before { content: "\f1a6"; }
.flaticon-lamp:before { content: "\f1a7"; }
.flaticon-laptop:before { content: "\f1a8"; }
.flaticon-laptop-1:before { content: "\f1a9"; }
.flaticon-laptop-2:before { content: "\f1aa"; }
.flaticon-left-alignment:before { content: "\f1ab"; }
.flaticon-letters:before { content: "\f1ac"; }
.flaticon-levels:before { content: "\f1ad"; }
.flaticon-light-bulb:before { content: "\f1ae"; }
.flaticon-line-chart:before { content: "\f1af"; }
.flaticon-line-chart-1:before { content: "\f1b0"; }
.flaticon-link:before { content: "\f1b1"; }
.flaticon-list:before { content: "\f1b2"; }
.flaticon-list-1:before { content: "\f1b3"; }
.flaticon-list-2:before { content: "\f1b4"; }
.flaticon-list-3:before { content: "\f1b5"; }
.flaticon-lotus:before { content: "\f1b6"; }
.flaticon-magic-wand:before { content: "\f1b7"; }
.flaticon-magic-wand-1:before { content: "\f1b8"; }
.flaticon-makeup:before { content: "\f1b9"; }
.flaticon-map:before { content: "\f1ba"; }
.flaticon-memory-card:before { content: "\f1bb"; }
.flaticon-memory-card-1:before { content: "\f1bc"; }
.flaticon-memory-card-2:before { content: "\f1bd"; }
.flaticon-menu:before { content: "\f1be"; }
.flaticon-menu-1:before { content: "\f1bf"; }
.flaticon-menu-2:before { content: "\f1c0"; }
.flaticon-menu-3:before { content: "\f1c1"; }
.flaticon-microchip:before { content: "\f1c2"; }
.flaticon-microphone:before { content: "\f1c3"; }
.flaticon-microphone-1:before { content: "\f1c4"; }
.flaticon-minimize:before { content: "\f1c5"; }
.flaticon-minimize-1:before { content: "\f1c6"; }
.flaticon-minimize-2:before { content: "\f1c7"; }
.flaticon-minimize-3:before { content: "\f1c8"; }
.flaticon-mobile-phone:before { content: "\f1c9"; }
.flaticon-monitor:before { content: "\f1ca"; }
.flaticon-monitor-1:before { content: "\f1cb"; }
.flaticon-mouse:before { content: "\f1cc"; }
.flaticon-mouse-1:before { content: "\f1cd"; }
.flaticon-move:before { content: "\f1ce"; }
.flaticon-move-1:before { content: "\f1cf"; }
.flaticon-movie-player:before { content: "\f1d0"; }
.flaticon-necklace:before { content: "\f1d1"; }
.flaticon-notepad:before { content: "\f1d2"; }
.flaticon-package:before { content: "\f1d3"; }
.flaticon-padlock:before { content: "\f1d4"; }
.flaticon-padlock-1:before { content: "\f1d5"; }
.flaticon-paint-brush:before { content: "\f1d6"; }
.flaticon-paint-brush-1:before { content: "\f1d7"; }
.flaticon-paint-bucket:before { content: "\f1d8"; }
.flaticon-paint-palette:before { content: "\f1d9"; }
.flaticon-paint-roller:before { content: "\f1da"; }
.flaticon-pause:before { content: "\f1db"; }
.flaticon-pause-1:before { content: "\f1dc"; }
.flaticon-pendrive:before { content: "\f1dd"; }
.flaticon-photo-camera:before { content: "\f1de"; }
.flaticon-php:before { content: "\f1df"; }
.flaticon-picture:before { content: "\f1e0"; }
.flaticon-pie-chart:before { content: "\f1e1"; }
.flaticon-pie-chart-1:before { content: "\f1e2"; }
.flaticon-placeholder:before { content: "\f1e3"; }
.flaticon-placeholder-1:before { content: "\f1e4"; }
.flaticon-placeholder-2:before { content: "\f1e5"; }
.flaticon-play-button:before { content: "\f1e6"; }
.flaticon-power-button:before { content: "\f1e7"; }
.flaticon-ps:before { content: "\f1e8"; }
.flaticon-push-pin:before { content: "\f1e9"; }
.flaticon-radio:before { content: "\f1ea"; }
.flaticon-refresh:before { content: "\f1eb"; }
.flaticon-reload:before { content: "\f1ec"; }
.flaticon-reload-1:before { content: "\f1ed"; }
.flaticon-repeat:before { content: "\f1ee"; }
.flaticon-repeat-1:before { content: "\f1ef"; }
.flaticon-resize:before { content: "\f1f0"; }
.flaticon-resize-1:before { content: "\f1f1"; }
.flaticon-resize-2:before { content: "\f1f2"; }
.flaticon-return:before { content: "\f1f3"; }
.flaticon-robot:before { content: "\f1f4"; }
.flaticon-router:before { content: "\f1f5"; }
.flaticon-rss:before { content: "\f1f6"; }
.flaticon-ruler:before { content: "\f1f7"; }
.flaticon-ruler-1:before { content: "\f1f8"; }
.flaticon-ruler-2:before { content: "\f1f9"; }
.flaticon-ruler-3:before { content: "\f1fa"; }
.flaticon-ruler-4:before { content: "\f1fb"; }
.flaticon-scheme:before { content: "\f1fc"; }
.flaticon-scheme-1:before { content: "\f1fd"; }
.flaticon-scissors:before { content: "\f1fe"; }
.flaticon-scissors-1:before { content: "\f1ff"; }
.flaticon-screen:before { content: "\f200"; }
.flaticon-scroll:before { content: "\f201"; }
.flaticon-scroll-1:before { content: "\f202"; }
.flaticon-scroll-2:before { content: "\f203"; }
.flaticon-scroll-3:before { content: "\f204"; }
.flaticon-scroll-4:before { content: "\f205"; }
.flaticon-scroll-5:before { content: "\f206"; }
.flaticon-search:before { content: "\f207"; }
.flaticon-search-1:before { content: "\f208"; }
.flaticon-server:before { content: "\f209"; }
.flaticon-set-square:before { content: "\f20a"; }
.flaticon-settings:before { content: "\f20b"; }
.flaticon-settings-1:before { content: "\f20c"; }
.flaticon-settings-2:before { content: "\f20d"; }
.flaticon-share:before { content: "\f20e"; }
.flaticon-share-1:before { content: "\f20f"; }
.flaticon-share-2:before { content: "\f210"; }
.flaticon-shield:before { content: "\f211"; }
.flaticon-shield-1:before { content: "\f212"; }
.flaticon-shopping-bag:before { content: "\f213"; }
.flaticon-shopping-cart:before { content: "\f214"; }
.flaticon-smartphone:before { content: "\f215"; }
.flaticon-smartphone-1:before { content: "\f216"; }
.flaticon-smartphone-2:before { content: "\f217"; }
.flaticon-smartphone-3:before { content: "\f218"; }
.flaticon-smartphone-4:before { content: "\f219"; }
.flaticon-smartphone-5:before { content: "\f21a"; }
.flaticon-smartphone-6:before { content: "\f21b"; }
.flaticon-smartphone-7:before { content: "\f21c"; }
.flaticon-smile:before { content: "\f21d"; }
.flaticon-socket:before { content: "\f21e"; }
.flaticon-sort:before { content: "\f21f"; }
.flaticon-speaker:before { content: "\f220"; }
.flaticon-speaker-1:before { content: "\f221"; }
.flaticon-speech-bubble:before { content: "\f222"; }
.flaticon-speech-bubble-1:before { content: "\f223"; }
.flaticon-speech-bubble-2:before { content: "\f224"; }
.flaticon-sun:before { content: "\f225"; }
.flaticon-symbol:before { content: "\f226"; }
.flaticon-symbol-1:before { content: "\f227"; }
.flaticon-symbol-2:before { content: "\f228"; }
.flaticon-target:before { content: "\f229"; }
.flaticon-target-1:before { content: "\f22a"; }
.flaticon-telephone:before { content: "\f22b"; }
.flaticon-telephone-1:before { content: "\f22c"; }
.flaticon-telephone-2:before { content: "\f22d"; }
.flaticon-television:before { content: "\f22e"; }
.flaticon-traffic-light:before { content: "\f22f"; }
.flaticon-upload:before { content: "\f230"; }
.flaticon-user:before { content: "\f231"; }
.flaticon-vector:before { content: "\f232"; }
.flaticon-vector-1:before { content: "\f233"; }
.flaticon-vector-2:before { content: "\f234"; }
.flaticon-video-camera:before { content: "\f235"; }
.flaticon-video-player:before { content: "\f236"; }
.flaticon-warning:before { content: "\f237"; }
.flaticon-worldwide:before { content: "\f238"; }
.flaticon-wrench:before { content: "\f239"; }
.flaticon-wristwatch:before { content: "\f23a"; }
.flaticon-wristwatch-1:before { content: "\f23b"; }
.flaticon-write:before { content: "\f23c"; }
.flaticon-zoom-out:before { content: "\f23d"; }