.btn-primary1{
	 color:#fff;
	 background: #15ad9e;
	 border-color: #15ad9e;
	 border-radius:2px; 	
}

.btn-primary1:hover , .btn-primary1:active{
	color:whitesmoke;
	background:  #11a397;
	border-color: #11a397;
}

.btn-secondary1{
	color:#fff; 
	background:#fba542;  
	border-color:#fba542;
	border-radius: 2px;
}

.btn-secondary1:hover , .btn-secondary1:active {
	color:#fafafa; 
	background: #f19d3c;
	border-color:#f19d3c;
}

.b {
 position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  color: rgba(0,0,0,0.4);
  font-size: 1.7em; 
}

.b-close:before {
	content: "\e014";
}
.b-close:hover {
	color:white; 
}

.alert-primary1 {
	color:#fff;
	font-weight: 600;
	background:#15ad9e; 
	font-size:20px;
	border-radius:0px ;
	text-align: center; 
}


.alert-primary1 a.b-close {
	position: absolute;
	top:10px;
	right: 20px;
	float: right;
	text-decoration: none;
}

.alert-secondary1 {
	color:#fff;
	font-weight: 600;
	font-size: 20px;
	background:#f4a03f; 
	border-radius:0px ;
	text-align: center; 
}

.alert-secondary1 a.b-close {
	position: absolute;
	top:10px;
	right: 20px;
	float: right;
	text-decoration: none;
}

a {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;

}

.link1 { 
    color:#fba542; 
	font-size: 20px;
	padding:5px;
	text-decoration: none;
}
.link1:hover , .link1:active {
	color:#e99431; 
	text-decoration: underline;
	font-size: 20px;
	padding:5px;
}


/*tema 2*/

.btn-primary2{
	 color:#fff;
	 background: #278da7;
	 border-color: #278da7;
	 border-radius:2px; 	
}

.btn-primary2:hover , .btn-primary2:active{
	color:whitesmoke;
	background:  #1993b3;
	border-color: #1993b3;
}

.btn-secondary2{
	color:#fff; 
	background:#a5c34e;  
	border-color:#a5c34e;
	border-radius: 2px;
}

.btn-secondary2:hover , .btn-secondary2:active {
	color:#fafafa; 
	background: #98b640;
	border-color:#98b640;
}

.alert-primary2 { 
	color:#fff;
	font-weight: 600;
	background:#278da7; 
	font-size:20px;
	border-radius:0px ;
	text-align: center; 
}


.alert-primary2 a.b-close {
	position: absolute;
	top:10px;
	right: 20px;
	float: right;
	text-decoration: none;
}

.alert-secondary2 {
	color:#fff;
	font-weight: 600;
	font-size: 20px;
	background:#a5c34e; 
	border-radius:0px ;
	text-align: center; 
}

.alert-secondary2 a.b-close {
	position: absolute;
	top:10px;
	right: 20px;
	float: right;
	text-decoration: none;
}



.link2 { 
    color:#98b640;  
	font-size: 20px;
	padding:5px;
	text-decoration: none;
}
.link2:hover , .link2:active {
	color:#87a432; 
	text-decoration: underline;
	font-size: 20px;
	padding:5px;
}




/*tema 3*/
.btn-primary3{
	 color:#fff;
	 background: #474757;
	 border-color: #474757;    
	 border-radius:2px; 	
}

.btn-primary3:hover , .btn-primary3:active{
	color:whitesmoke;
	background:  #3a3a47;
	border-color: #3a3a47; 
}

.btn-secondary3{
	color:#fff; 
	background:#32bcb5;  
	border-color:#32bcb5;
	border-radius: 2px;
}

.btn-secondary3:hover , .btn-secondary3:active {
	color:#fafafa; 
	background: #39cec6;
	border-color:#39cec6;
}

.alert-primary3 { 
	color:#fff;
	font-weight: 600;
	background:#474757; 
	font-size:20px;
	border-radius:0px ;
	text-align: center; 
}


.alert-primary3 a.b-close {
	position: absolute;
	top:10px;
	right: 20px;
	float: right;
	text-decoration: none;
}

.alert-secondary3 {
	color:#fff;
	font-weight: 600;
	font-size: 20px;
	background:#32bcb5; 
	border-radius:0px ;
	text-align: center; 
}

.alert-secondary3 a.b-close {
	position: absolute;
	top:10px;
	right: 20px;
	float: right;
	text-decoration: none;
}



.link3 { 
    color:#00897b;  
	font-size: 20px;
	padding:5px;
	text-decoration: none;
}
.link3:hover , .link3:active {
	color:#004d40; 
	text-decoration: underline;
	font-size: 20px;
	padding:5px;
}

/*tema 4*/
.btn-primary4{
	 color:#fff;
	 background: #7d1935;
	 border-color: #7d1935;    
	 border-radius:2px; 	
}

.btn-primary4:hover , .btn-primary4:active{
	color:whitesmoke;
	background:  #911e3e;
	border-color: #911e3e; 
}

.btn-secondary4{
	color:#fff; 
	background:#4a96ad;  
	border-color:#4a96ad;
	border-radius: 2px; 
}

.btn-secondary4:hover , .btn-secondary4:active {
	color:#fafafa; 
	background: #42a2bf;
	border-color:#42a2bf;
}

.alert-primary4 { 
	color:#fff;
	font-weight: 600;
	background:#7d1935; 
	font-size:20px;
	border-radius:0px ;
	text-align: center; 
}


.alert-primary4 a.b-close {
	position: absolute;
	top:10px;
	right: 20px;
	float: right;
	text-decoration: none;
}

.alert-secondary4 {
	color:#fff;
	font-weight: 600;
	font-size: 20px;
	background:#4a96ad; 
	border-radius:0px ;
	text-align: center; 
}

.alert-secondary4 a.b-close {
	position: absolute;
	top:10px;
	right: 20px;
	float: right;
	text-decoration: none;
}



.link4 { 
    color:#1c6980;  
	font-size: 20px;
	padding:5px;
	text-decoration: none;
}
.link4:hover , .link4:active {
	color:#4a96ad; 
	text-decoration: underline;
	font-size: 20px;
	padding:5px;
}



/*tema 5*/
.btn-primary5{
	 color:#fff;
	 background: #104764;
	 border-color: #104764;    
	 border-radius:2px; 	
}

.btn-primary5:hover , .btn-primary5:active{
	color:whitesmoke;
	background:  #063148;
	border-color: #063148; 
}

.btn-secondary5{
	color:#fff; 
	background:#cb3320;  
	border-color:#cb3320;
	border-radius: 2px; 
}

.btn-secondary5:hover , .btn-secondary5:active {
	color:#fafafa; 
	background: #b21a08;
	border-color:#b21a08;
}

.alert-primary5 { 
	color:#fff;
	font-weight: 600;
	background:#104764; 
	font-size:20px;
	border-radius:0px ;
	text-align: center; 
}


.alert-primary5 a.b-close {
	position: absolute;
	top:10px;
	right: 20px;
	float: right;
	text-decoration: none;
}

.alert-secondary5 {
	color:#fff;
	font-weight: 600;
	font-size: 20px;
	background:#cb3320; 
	border-radius:0px ;
	text-align: center; 
}

.alert-secondary5 a.b-close {
	position: absolute;
	top:10px;
	right: 20px;
	float: right;
	text-decoration: none;
}
 


.link5 { 
    color:#1c6980;  
	font-size: 20px;
	padding:5px;
	text-decoration: none;
}
.link5:hover , .link5:active {
	color:#4a96ad; 
	text-decoration: underline;
	font-size: 20px;
	padding:5px;
}
/* div detail produk*/


.main-body {
	position:relative;  
	width: 13em;
	height: 25em; 
	max-width: 100%;
	background: #f5f5f5;
	border: 2px solid #eee;
	padding-top:10px;
	padding-right: 10px;
	padding-left: 10px;
	border-radius: 2px;
	transition: 0.1s; 
}
.main-body:hover {
	box-shadow: 0px 2px 1px 1px rgba(0,0,0,0.20);
}
.image-area{
	position: absolute;
	background: white;
	width: 100%;
	height:11em ;
	top:0;
	left: 0;

}

.image-area img {	
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
    margin: auto;

}
.main-body img:hover {
	opacity: 0.8;
}

.p-content{
	position: absolute;
	left: 0;
	top:155px;
	padding:5px;
	border-top:1px solid #eee;
	font-family: segoe UI;
	width: 100%;
	height: 14em;
}
.p-content button {
	position: absolute;
	bottom: 15px;
}

.p-label {
	font-weight: 800;
	font-size: 15px;
}

.t-center{
	text-align: center;
}
.ratings {
	width: 100%;
	font-size: 25px;  
	font-weight:600;
	display: inline-block;  	
}
.r-color1 a{ 
	color:#15ad9e;  
}
.r-color2 a{ 
	color:#278da7;  
}
.r-color3 a{ 
	color:#474757;  
}
.r-color4 a{ 
	color:#7d1935;  
}
.r-color5 a{ 
	color:#104764;  
}

.m-price{
	position: absolute;
	bottom: 15px;
}

.price-discount {
	clear: both;
	font-size: 13px;
	font-weight:900;
	color:gray;
	width: 100%;
	text-decoration: line-through;

}
.l-discount{
	background: #7d1935;
	color:#fff;
	padding:2px;
	font-size:12px;
	border-radius: 2px;
	margin-left: 3px;
	text-decoration: none;
}
.price {
	font-size: 17px;
	font-weight:900;
	color:#7d1935;
	width: 100%;
}

.mini-box{
	position:absolute; 
	width: 18em;
	height: 6em;
	padding: 1px;
	max-width: 100%;
	background: #fafafa	;
	border: 2px solid #d9d9d9;
	transition: 0.1s;
}
.mini-box:hover{
	background: #f5f5f5;
}


.mini-box img {
	width: 6em;
	height: 6em;
	border:2px solid #d9d9d9;
	position: absolute;
	top:-2px;
	left: -2px;
}
.mini-box img:hover{
	opacity: 0.5;
    filter: alpha(opacity=50);
}

.m-content {
	padding-left: 7px;
	font-family: sans-serif;
	font-size: 12px;
	font-weight: 500;
	font-family: Segoe UI;
	position: absolute; 
	left: 80px;
}
