.main-body {
	position:relative;  
	width: 13em;
	height: 25em; 
	max-width: 100%;
	background: #f5f5f5;
	border: 2px solid #eee;
	padding-top:10px;
	padding-right: 10px;
	padding-left: 10px;
	border-radius: 2px;
	transition: 0.1s; 
}
.main-body:hover {
	box-shadow: 0px 2px 1px 1px rgba(0,0,0,0.20);
}
.image-area{
	position: absolute;
	background: white;
	width: 100%;
	height:11em ;
	top:0;
	left: 0;

}

.socials-media{
	list-style: none;
	padding: 0;
	margin: 0;
}
.socials-media>li{
	margin-right: 5px;
	display: inline-block;
}

.image-area img {	
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
    margin: auto;

}
.main-body img:hover {
	opacity: 0.8;
}

.p-contents{
	position: absolute;
	top:155px;
	left:0px;
	height: 14em;
	padding:5px;
	border-top:1px solid #eee;
	font-family: segoe UI;
	width: 100%;
}
.p-contents button {
	position: absolute;
	bottom: 15px;
	left:5px;
}

.p-labels {
	color:#333; 
	font-weight: 800;
	font-size: 13px;
}

.t-center{
	text-align: center;
}
.ratings {
	width: 100%;
	font-size: 25px;  
	font-weight:600;
	display: inline-block;  	
}
.r-color1 a{ 
	color:#15ad9e;  
}
.r-color2 a{ 
	color:#278da7;  
}
.r-color3 a{ 
	color:#474757;  
}
.r-color4 a{ 
	color:#7d1935;  
}
.r-color5 a{ 
	color:#104764;  
}

.m-price{
	position: absolute;
	bottom: 15px;
}

.price-discounts {
	clear: both;
	font-size: 13px;
	font-weight:900;
	color:gray;
	width: 100%;
	text-decoration: line-through;

}
.l-discount{
	background: #7d1935;
	color:#fff;
	padding:2px;
	font-size:12px;
	border-radius: 2px;
	margin-left: 3px;
	text-decoration: none;
}
.price {
	font-size: 17px;
	font-weight:900;
	width: 100%;
} 

.mini-box{
	position:absolute; 
	width: 18em;
	height: 6em;
	padding: 1px;
	max-width: 100%;
	background: #fafafa	;
	border: 2px solid #d9d9d9;
	transition: 0.1s;
}
.mini-box:hover{
	background: #f5f5f5;
}


.mini-box img {
	width: 6em;
	height: 6em;
	border:2px solid #d9d9d9;
	position: absolute;
	top:-2px;
	left: -2px;
}
.mini-box img:hover{
	opacity: 0.5;
    filter: alpha(opacity=50);
}

.m-content {
	padding-left: 7px;
	font-family: sans-serif;
	font-size: 12px;
	font-weight: 500;
	font-family: Segoe UI;
	position: absolute; 
	left: 80px;
}


.list-content ul{
	text-decoration: none;
	list-style: none; 
	margin-top: -25px;
}  
.list-content ul li {
	float: left;
	margin-left:12px;
	margin-top: 25px;
	text-decoration: none;
} 
  
.selected-sortby{
	margin-bottom:10px;
	padding:2px 5px;
	width: 100%;
}

.selected-sortby .label-op {
	font-size: 13px;
	color: #000;
	text-transform: uppercase;
	font-weight: 550;
	font-family: segoe ui;
	padding-right: 10px;
}

.selected-sortby .cat-select {
	width: 120px;
	height: 30px;
	border:1px solid #82837E;
	color: #000;
	font-size: 13px;  
}
.selected-sortby .cat-select option {
	font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}


.p-cat-area{
	margin-bottom:20px;
	width: 100%;
	padding: 0px 5px;
	
}
.p-cat-body{
	width: 100%;
}

.p-cat-label { 
	width: 100%;
	border-bottom: 2px solid #82837E;
	text-transform: uppercase;
}
.p-cat-label span {
	font-family: sans-serif;
	font-weight: 700;
	font-size: 19px;
	color: #82837E;
	padding:5px; 
}

.p-cat-list-prim{
	list-style: none;
	margin-top: -15px;
} 
.p-cat-list-prim > li {
	display: block;
	margin-left: -25px;
	margin-top: 20px;
	width: 100%;
}
.p-cat-list-prim > li a {
	font-size: 16px;
	font-weight: 600;
	text-decoration: none;
	text-transform: uppercase;
	color: #82837E;
	font-family: segoe UI;

}
.p-cat-list-prim > li a:hover,
.p-cat-list-prim > li a:active {
	color:#F6921D;
}

.p-cat-list-secn {
	list-style: none;
}
.p-cat-list-secn > li {
	display: block;
	margin-left: -25px;
	width: 100%;
}
.p-cat-list-secn > li a{
	font-size: 13px;
	font-weight: 400;
	text-decoration: none;
}
.selected-filter{
	margin: 20px 0;
	width: 100%;
	padding: 1px;
}

.filter-caption{
	font-size: 13px;
    color: #000;
    width: 100px;
    text-transform: uppercase;
}
.chosen-filter{
	list-style: none;
	width: 700px;
	margin-left: -45px;

}
.chosen-filter .c-filter-item{
	padding:5px 7px;
	display: inline-block;
	color: #000;
	border:1px solid #dfdfdf;
	background: #F4F4F4; 
	font-family: segoe UI;
}
.c-f-close{
	padding-left: 10px;
	font-size: 12px;
	font-weight: 200;
}

.chosen-filter .c-filter-item .c-f-close:before{
	content: "X";
}
.chosen-filter .c-filter-item .c-f-close:hover{
	color: orange;  
}


.selected-filter .filter-caption,
.selected-filter .chosen-filter{
	display: inline-block;  
}


/* SLIDER RANGE*/
 




/*.p-produk-area {
	margin-bottom: 20px
}
.p-produk-title{
	background: #82837E;
	color: #ffffff;
	padding:10px 20px;
	font-weight: 800;
	font-size: 18px;
	font-family: 'SourceSansProBold'; 
}

.p-list-item{
	padding:10px; 
	width: 100%;
}


.p-produk-list{
	background: #f2f2f2;
	width: 100%;
}

.p-produk-list ul {
	list-style: none;
}
.p-produk-list ul > li{
	border-top: 1px dashed #d3d3d3;
	margin-left:-40px;
}
.p-list-content{
	display: block;
	width: 100%;
	height: 80px;
	padding: 0px;
}*/
.p-detail {
    display: block;
    width: 100%;
    padding:2px 5px;
    font-size: 15px;
} 


.product-reference label {
	color: #666666;
	font-weight: bold;
}
.product-reference span{
	color: #666666;
	padding-left: 5px;
}

.product-condition label {
	margin-top: 10px;
	color: #666666;
	font-weight: bold;
}
.product-condition span {
	color: #666666;
	padding-left: 5px;
}
.product-des p{
	color: #666666;
	max-width:100%;
	padding: 7px 1px;
}
.p-quantity{
	font-size: 13px;
	color: #666666;
	display: inline-block;
}
.quantity-number{
	font-weight:500; 
}
.quantity-text {
	font-size: 14px;
	padding-left: 3px;
}
.product-stat{
	padding-left: 10px;
	display: inline-block;
	cursor: default;
}
.our-price {
	padding: 5px 15px;
	font-size: 25px;
}
.our-price .price-available {
	color: #33c9db;
	font-weight: bold;
}

.product-size{
	margin-bottom:10px;
	width: 100%;
}

.product-size .label-op {
	font-size: 13px;
	color: #666666;
	text-transform: uppercase;
	font-family: segoe ui;
	padding-right: 10px;
	font-weight: 400;
}

.product-size .cat-select {
	width: 100px;
	height: 30px;
	border:1px solid #82837E;
	color: #666666;
	font-size: 16px;
	padding-left: 20px;  
}
.product-size .cat-select option {
	font-weight: normal;
    white-space: pre;
    min-height: 1.2em;
    /*padding: 10px 10px;*/
    padding-left: 100px;
}
.button-area {
	display: inline-block;
	margin-top: 15px;
	padding-left: 25px; 
}
.plus-minus-quantity{
	margin-top: 10px;
	display: inline-block;
}
.plus-minus-quantity label{
	display: block;
	font-size: 14px;
	color: #000;
}

.decrement_qty{
	background: #f5f5f5;
	color: #666666;
	padding: 5px 10px;
	border:2px solid #eee;
	font-size: 15px;
} 
.increment_qty{
	background: #f5f5f5;
	color: #666666;
	padding: 5px 10px;
	border:2px solid #eee;
	font-size: 15px;
	margin-left: -3px;	
}
.product-logos {
	max-width: 100%;
	margin:0;
	padding:0;
	margin-top: 20px;
}



.p-images {
	float:left;
	height: 70px;
	width: 70px;
}
.p-label{
	max-width: 150px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; 
}
.label-d {
	padding: 3px 4px 2px 4px;
	line-height: 5px;
	background: #F6921D;
	color: #fff;
}  
.p-color1 { 
	color:#15ad9e;  
}
.p-color2 { 
	color:#278da7;  
}
.p-color3 { 
	color:#474757;  
}
.p-color4 { 
	color:#7d1935;  
}
.p-color5 { 
	color:#F6921D;  
}


/*  PAGINATION  */

.pagination-container {
  margin-top: 1em;
  padding-top: 2em; 
  text-align: center;
}

.pagination-item {
  list-style-type: none;
  display: inline-block;
  border: 2px solid #F6921D;
}

.pagination-item:hover,
.pagination-item.is-active {
  background-color: #F6921D;
  border: 2px solid #F6921D;
}
.pagination-item:hover .pagination-link,
.pagination-item.is-active .pagination-link {
  color: #fff;
}

.pagination-item.first-number {
  border: 2px solid #F6921D;
  color:#F6921D; 
}

.pagination-link {
  padding: 0.5em 1.2em;
  display: inline-block;
  text-decoration: none;
  color: #8b969c;
}

.pagination-item--wide {
  list-style-type: none;
  display: inline-block;
}

.pagination-item--wide.first {
  margin: 0 1em 0 0;
}

.pagination-item--wide.last {
  margin: 0 0 0 1em;
}

.pagination-link--wide {
  text-decoration: none;
  color: #8b969c;
  padding: 1.1em 1.6em;
}

.pagination-link--wide:hover {
  color: #F6921D;
}

.pagination-link--wide.first:before,
.pagination-link--wide.last:after {
  
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pagination-link--wide.first::before {
  content: "<";
  margin-right: 0.5em;
}

.pagination-link--wide.last::after {
  content: ">";
  margin-left: 0.5em;
}
 

.jssorb03 {
  position: absolute;
}
        .jssorb03 div, .jssorb03 div:hover, .jssorb03 .av {
            position: absolute;
            /* size of bullet elment */
            width: 21px;
            height: 21px;
            text-align: center;
            line-height: 21px;
            color: white;
            font-size: 12px;
            background: url('img/b03.png') no-repeat;
            overflow: hidden;
            cursor: pointer;
        }
        .jssorb03 div {
             background-position: -5px -4px;
              }
        .jssorb03 div:hover, 
        .jssorb03 .av:hover {
             background-position: -35px -4px;
              }
        .jssorb03 .av { 
            background-position: -65px -4px; 
        }
        .jssorb03 .dn, .jssorb03 .dn:hover { 
            background-position: -95px -4px;
             }
        /* jssor slider thumbnail navigator skin 16 css *//*.jssort16 .p            (normal).jssort16 .p:hover      (normal mouseover).jssort16 .pav          (active).jssort16 .pav:hover    (active mouseover).jssort16 .pdn          (mousedown)*/
        .jssort16 .p {    
            position: absolute;  
              top: 0;   
               left: 0;  
              width: 200px;   
               height: 100px;
           }
        .jssort16 .t {   
         position: absolute; 
            top: 0;   
             left: 0; 
                width: 200px;
                    height: 100px; 
                       border: none;
                   }
        .jssort16 .p img {
            position: absolute;  
              top: 0;    
              left: 0; 
                 width: 200px;
                     height: 100px;    
                     filter: alpha(opacity=55);    
                     opacity: .55;    
                     transition: opacity .6s;    
                     -moz-transition: opacity .6s;    
                     -webkit-transition: opacity .6s;    
                     -o-transition: opacity .6s;
                 }
        .jssort16 .pav img, .jssort16 .pav:hover img, 
        .jssort16 .p:hover img { 
           filter: alpha(opacity=100);    
           opacity: 1;    
           transition: none;    
           -moz-transition: none;    
           -webkit-transition: none;    
           -o-transition: none;
       }
        .jssort16 .pav:hover img, .jssort16 .p:hover img {
            filter: alpha(opacity=70);   
             opacity: .7;
         }
        .jssort16 .p.pdn img {    
            filter: alpha(opacity=100);    
            opacity: 1;
        }




.tabs {
	position: relative;
	width: 100%;
	overflow: hidden;
	margin: 1em 0 2em;
	font-weight: 300;

} 

/* Nav */
.tabs nav {
	text-align: left;
}

.tabs nav ul {
	position: relative;
	padding: 0;
	margin: 0;
	list-style: none;
	display: inline-block;
	width: 100%;
	border-bottom:2px solid #bfbfbf;
}  

.tabs nav ul li {
	margin: 0 0.25em;
	display: block;
	float: left;
	position: relative;
	margin-top:1px;
}

.tabs nav li.tab-current {
	border-bottom: 2px solid #000;
	z-index: 100;
}


.tabs nav a {
	color: #becbd2;
	display: block;
	font-size: 1.45em;
	line-height: 2.5;
	padding: 0 1.25em;
	white-space: nowrap;
	text-decoration: none;
}

.tabs nav a:hover {
	color: #768e9d;
}

.tabs nav li.tab-current a {
	color: #000;
}

.content section {
	font-size: 1.25em;
	padding: 3em 1em;
	display: none;
	max-width: 1230px;
	margin: 0 auto;
}

.content section:before,
.content section:after {
	content: '';
	display: table;
}

.content section:after {
	clear: both;
}

/* Fallback example */
.no-js .content section {
	display: block;
	padding-bottom: 2em;
	border-botom: 1px solid #47a3da;
}

.content section.content-current {
	display: block;
}

.mediabox {
	float: left;
	width: 33%;
	padding: 0 25px;
}

.mediabox img {
	max-width: 100%;
	display: block;
	margin: 0 auto;
}

.mediabox h3 {
	margin: 0.75em 0 0.5em;
}

.mediabox p {
	padding: 0 0 1em 0;
	margin: 0;
	line-height: 1.3;
}

/* Example media queries */

@media screen and (max-width: 52.375em) {
	.tabs nav a span {
		display: block;
	}

	.tabs nav a:before {
		margin-right: 0;
	}

	.mediabox {
		float: none;
		width: auto;
		padding: 0 0 35px 0;
		font-size: 90%;
	}

	.mediabox img {
		float: left;
		margin: 0 25px 10px 0;
		max-width: 40%;
	}

	.mediabox h3 {
		margin-top: 0;
	}

	.mediabox p {
		margin-left: 40%;
		margin-left: calc(40% + 25px);
	}

	.mediabox:before,
	.mediabox:after {
		content: '';
		display: table;
	}

	.mediabox:after {
		clear: both;
	}
} 

@media screen and (max-width: 32em) {
	.tabs nav ul,
	.tabs nav ul li a {
		width: 100%;
		padding: 0;
	}

	.tabs nav ul li {
		width: 20%;
		width: calc(20% + 1px);
		margin: 0 0 0 -1px;
		font-size: 10px;
	}

	.tabs nav ul li:last-child {
		border-right: none;
	}

	.mediabox {
		text-align: center;
	}

	.mediabox img {
		float: none;
		margin: 0 auto;
		max-width: 100%;
	}

	.mediabox h3 {
		margin: 1.25em 0 1em;
	}

	.mediabox p {
		margin: 0;
	}
}