/*color theme one*/
body{
	color: #070707;
}
.ui-widget-header {
	background: #C09130;
	font-weight: bold;
}
.navbar-toggle .icon-bar{
	background-color: #070707;
}
a {
    color: #C09130;
    text-decoration: none;
}
a:focus, a:hover {
	color: #A3782B
}
.co-secn{
	color: #C09130;
}
.co-bs{
	color: #563d7c;
}
.co-bs:hover{
	color: #563d7c;
}
.co-fa{
	color: #1d9d74;
}
.co-fa:hover{
	color: #1d9d74;	
}
.co-kg, .co-kg:hover{
	color: #990D99;
}
.form-control{
	border-color: #070707;
}
.form-control:focus{
	border-color: #070707;
}
.help-block{
	color: #aaa;
}

#header .h-contact{
	background: #333;
	color: #e3e3e3;
}
#header .h-contact span.flaticon-smartphone{
	font-size: 6px;
}
#header .h-contact a{
	color: #e3e3e3;
}
#header .h-contact a:hover{
	color: #C09130;
	text-decoration: none;
}
#header .h-menu hr.tm{
	border-top-color: #e5e5e5;
}
#header .h-app .user-menu > li{
	/*background-color: #A9B0B3;*/
}
#header .h-app .dropdown-menu .dropdown-header{
	background-color: #070707;
	color: #fff;
}
#header .h-app .brdcum, .order-detail .brdcum{
	color: #e5e5e5;
}
#header .h-app .brdcum span.active, .order-detail .brdcum span.active{
	color: #C09130;
}
#login-modal .form-group .form-control, #register-modal .form-group .form-control, #forgotpassword-modal .form-group .form-control{
	border: 0;
	border-bottom: 2px solid #C09130;
	box-shadow: none;
}
#login-modal .form-group .input-group-addon, #register-modal .form-group .input-group-addon, #forgotpassword-modal .form-group .input-group-addon{
	background-color: transparent;
	border: 0;
	border-bottom: 2px solid #C09130;
}
.label.label-default{
	background: #C09130;
	color: #fff;
}
.btn-default{
	border: 1px solid #070707;
	color: #070707
}
.btn-prim{
	background: transparent;
	border: 2px solid #070707;
	color: #070707;
}
.btn-prim:hover, .btn-prim:active, .btn-prim:focus, .btn-prim:active:focus, .dropdown.open>.dropdown-toggle.btn-prim ,btn-prim.active:hover{
	background: #070707;
	border: 2px solid #070707;
	color: #fff;
}
.btn-secn{
	background: transparent;
	border: 2px solid #C09130;
	color: #C09130;
}
.btn-secn:hover, .btn-secn:active, .btn-secn:focus, .btn-secn:active:focus, .dropdown.open>.dropdown-toggle.btn-secn ,btn-secn.active:hover{
	background: #C09130;
	border: 2px solid #C09130;
	color: #fff;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
	background-color: transparent;
}
#header .h-menu .navbar-nav a{
	color: #070707;	
}
#header .h-menu .navbar-nav a:hover, #header .h-menu .navbar-nav a:focus{
	color: #C09130;
}
#header .h-menu .navbar-nav > li.active a{
	color: #C09130;
}
#header .h-app .user-menu .dropdown-menu, #header .h-menu .navbar li.dropdown > .dropdown-menu{
	border-color: #070707;
	border-width: 2px;
}
#header .h-app .user-menu .dropdown-menu>li>a{
	color: #070707;
}
#header .h-app .user-menu .dropdown-menu>li>a:focus, #header .h-app .user-menu .dropdown-menu>li>a:hover, #header .h-menu .navbar li.dropdown > .dropdown-menu > li > a:hover{
	background-color: transparent;
	color: #C09130;
}
.alert-prim{
	border-color: #C09130;
	background-color: #C09130;
	color:#fff;
}
.advertise .carousel .carousel-indicators li, .big-image .carousel .carousel-indicators li{
	border-radius: 0;
	border: 2px solid #070707;
}
.advertise .carousel .carousel-indicators li.active, .big-image .carousel .carousel-indicators li.active{
	background-color: #070707;
}
.product .side .p-title{
	background: #070707;
}
.product .side .p-title a{
	color: #fff;
}
.product .main .p-title{
	background: transparent;
}
.product .main .p-title a{
	color: #070707;
}
.product .p-list-side>ul > li{
	border-bottom: 1px dashed #d3d3d3;
}
.product .p-list-side.main>ul > li, .product .p-list-side.main.bottom>ul > li{
	border-bottom: 1px dashed transparent;
}
.product .p-list-side>ul > li:last-child{
	border-bottom: 1px dashed transparent;	
}
.product .p-list-side>ul > li .p-item .p-content .title a{
	color: #070707;
}
.product .p-list-side>ul > li .p-item .p-content .title a:hover{
	color: #C09130;	
}
.product .p-list-side>ul > li .p-item .p-content .price, .product .cart .total.price{
	color: #C09130;
}
.product .p-list-side>ul > li .p-item .p-content .price-discount .label{
	background: #C09130;
	color: #fff;
}
.product .p-list-side>ul > li .p-item .rating{
    color: #C09130;
}
.product .p-list-side>ul > li .p-item .p-image >ul .label.label-top, .big-image > ul.p-tag .label.label-top{
	background-color: #556270;
}
.product .p-list-side>ul > li .p-item .p-image >ul .label.label-new, .big-image > ul.p-tag .label.label-new{
	background-color: #5E8C6A;
}
.product .p-list-side>ul > li .p-item .p-image >ul .label.label-sale, .big-image > ul.p-tag .label.label-sale{
	background-color: #F2C45A;
}
.product .p-list-side>ul > li .p-item .p-image >ul .label.label-out, .big-image > ul.p-tag .label.label-out{
	background-color: #8C2318;	
}
.product .p-list-side>ul > li .p-item .p-image >ul .label.label-deal, .big-image > ul.p-tag .label.label-deal{
	background-color: #668284;	
}
.product .p-list-side>ul > li .p-item .br-theme-fontawesome-stars-o .br-widget a {
	color: #C09130;
}
.product .p-list-side>ul > li .p-item .br-theme-fontawesome-stars-o .br-widget a:hover {
	color: #C09130;	
}
.product .p-total-price .total-b{
	color: #C09130;		
}
.product .p-total-price .total-v{
	color: #C09130;
}
p.p-cat-title{
	border-bottom: 1px solid #C09130;
}
.product .p-cat-label{
	/*border-bottom: 1px solid #C09130;*/
}
.product .p-cat-label a{
	color: #668284;
}
.product .p-cat-list-prim > li > a, .product .p-cat-list-secn > li > a{
    color: #668284;
}
.category .p-cat-wrap .title{
	background: rgba(0,0,0,.5);
	color: #fff;
}
.sect-title.bordered{
	border: 2px solid #C09130;
}
.category .p-cat-wrap .bg{
	background: rgba(0,0,0,.3);
	-webkit-transition: background 500ms ease-in-out;
           -moz-transition: background 500ms ease-in-out;
             -o-transition: background 500ms ease-in-out;
                transition: background 500ms ease-in-out;
}
.category .p-cat-wrap .bg:hover{
	background: rgba(0,0,0,.1);
}
.blog .b-wrap p, .blog .b-wrap a{
	color: #fff;
}
#footer{
	background: #333;
	color: #888;
}
#footer ul.menu > li > a{
	color: #888;
}
#footer ul.menu > li > a:hover{
	color: #C09130;
}
#footer .social-media>li a{
 	color: #888;  
}
#footer .social-media>li a:hover{
	color: #C09130;	
}
#footer .footer-copy{
	background: #222;
}
.checkout .address-detail .user{
	color: #C09130;
}
.checkout .product-summary p:last-child span.title{
	color: #C09130;
}
.checkout .product-summary p:last-child span:last-child{
    color: #C09130;
}
.checkout .courier table tr{
    border-top: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
}
.checkout .courier table tr td:last-child{
	color: #C09130;
}
.checkout .courier table tr:last-child{
    border-bottom: 1px solid #e5e5e5;
}
.checkout .payment table tr.active{
	background-color: #f2f2f2;
}
.checkout .toggle-showup.bank-transfer p span:last-child, .bank-transfer p span:last-child{
	color: #C09130;
}
.lookbook ul li .gallery span{
	background: rgba(0,0,0,.4);
	color: #fff;
}
.lookbook ul li .gallery .bg{
	background: rgba(0,0,0,.6);
}
.lookbook ul li .gallery:hover .bg{
	background: rgba(0,0,0,.2);	
}
.breadcrumbs > .active {
  color: #777;
}
.chosen-filter a:hover{
	text-decoration: none;
}
.pagination > li > a,
.pagination > li > span {
  color: #668284;
  border: 1px solid #668284;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  z-index: 2;
  color: #C09130;
  background-color: transparent;
  border-color: #C09130;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: #C09130;
  border-color: #C09130;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd;
}
.profile h6{
	color: #C09130;
}
.order-detail p.title{
	color: #C09130;
}
.wrapper-dropdown-2 {
	color: #070707;
	border-right: 2px solid #070707;
	border-top: 2px solid #070707;
	border-bottom: 2px solid #070707;
	border-left: 2px solid #070707;
}
.wrapper-dropdown-2 .dropdown li a {
	color: #070707;
	border-right: 2px solid #070707;
	border-left: 2px solid #070707;
}
.wrapper-dropdown-2 .dropdown li:last-child a {
	border-bottom: 2px solid #070707;
}
.wrapper-dropdown-2 .dropdown li:hover a {
    color: #C09130;
}
.select2-container--default .select2-selection--single,
.select2-selection .select2-selection--single {
  border: 2px solid #070707;
}
.select2-container--default.select2-container--open {
  border-color: #070707;
}
.select2-dropdown {
  border: 2px solid #070707;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #C09130;
  color: white;
}
